$white: #fff;
$black: #000;
$red: #c33636;
$lt-gray: #e9e9e9;

page-register {
  .login-content {
    background: $lt-gray;

    .login-box {
      background: $red;
      padding: 20px 20px 0px 20px;
      margin-top: 30px;
    }

    ion-row {
       align-items: center;
       text-align: center;
     }

     ion-item {
         border-radius: 30px !important;
         padding-left: 30px !important;
         font-size: 0.9em;
         margin-bottom: 10px;
         border: 1px solid #ffffff;
         border-bottom: 0px !important;
         box-shadow: none !important;
     }

     .signup-col {
       margin: 0px 16px 0px 16px;
       padding-bottom: 20px;
     }

     .item-inner {
       border-bottom-color: #ffffff !important;
       box-shadow: none !important;
     }

     .submit-btn {
        color: $black;
        background: $white;
        border-radius: 30px !important;
        border: 1px solid #ffffff;
        &:hover {
            color: $white;
            background: $black;
            border: 1px solid $black;
        }
     }
  }
}