<!-- <ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Event action occurred</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Action:
      <pre>{{ modalData?.action }}</pre>
    </div>
    <div>
      Event:
      <pre>{{ modalData?.event | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">OK</button>
  </div>
</ng-template> -->

	<div>

		<ion-icon name="ios-arrow-dropleft-outline" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"></ion-icon>
		<button ion-button color="light" mwlCalendarToday [(viewDate)]="viewDate">
			Today
		</button>
		<ion-icon name="ios-arrow-dropright-outline" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"></ion-icon>

		<h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>

		<button ion-button small color="light" (click)="view = 'month'" [class.active]="view === 'month'">
			Month
		</button>
		<button ion-button small color="light" (click)="view = 'week'" [class.active]="view === 'week'">
			Week
		</button>
		<button ion-button small color="light" (click)="view = 'day'" [class.active]="view === 'day'">
			Day
		</button>
	</div>

	<div [ngSwitch]="view">
	  <mwl-calendar-month-view
	    *ngSwitchCase="'month'"
	    [viewDate]="viewDate"
	    [events]="events"
	    [refresh]="refresh"
	    [activeDayIsOpen]="activeDayIsOpen"
	    (dayClicked)="dayClicked($event.day)"
	    (eventClicked)="handleEvent('Clicked', $event.event)"
	    (eventTimesChanged)="eventTimesChanged($event)">
	  </mwl-calendar-month-view>
	  <mwl-calendar-week-view
	    *ngSwitchCase="'week'"
	    [viewDate]="viewDate"
	    [events]="events"
	    [refresh]="refresh"
	    (eventClicked)="handleEvent('Clicked', $event.event)"
	    (eventTimesChanged)="eventTimesChanged($event)">
	  </mwl-calendar-week-view>
	  <mwl-calendar-day-view
	    *ngSwitchCase="'day'"
	    [viewDate]="viewDate"
	    [events]="events"
	    [refresh]="refresh"
	    (eventClicked)="handleEvent('Clicked', $event.event)"
	    (eventTimesChanged)="eventTimesChanged($event)">
	  </mwl-calendar-day-view>
	</div>

	<button ion-button color="light" (click)="addEvent()">
		Add Event
	</button>

<!-- <table class="table table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Primary color</th>
      <th>Secondary color</th>
      <th>Starts at</th>
      <th>Ends at</th>
      <th>Remove</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let event of events; let index = index">
      <td>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="event.title"
          (keyup)="refresh.next()">
      </td>
      <td>
        <input
          type="color"
          [(ngModel)]="event.color.primary"
          (change)="refresh.next()">
      </td>
      <td>
        <input
          type="color"
          [(ngModel)]="event.color.secondary"
          (change)="refresh.next()">
      </td>
      <td>
        <mwl-demo-utils-date-time-picker
          [(date)]="event.start"
          (dateChange)="refresh.next()"
          placeholder="Not set">
        </mwl-demo-utils-date-time-picker>
      </td>
      <td>
        <mwl-demo-utils-date-time-picker
          [(date)]="event.end"
          (dateChange)="refresh.next()"
          placeholder="Not set">
        </mwl-demo-utils-date-time-picker>
      </td>
      <td>
        <button
          class="btn btn-danger"
          (click)="events.splice(index, 1); refresh.next()">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table> -->
