.text100 {
  font-size: 0.76923rem;
  line-height: 1.03846rem;
  font-weight: 100;
}

.fntsz100 {
  font-size: 0.76923rem;
}

.lh100 {
  line-height: 1.03846rem;
}

.fw100 {
  font-weight: 100;
}

.margin100 {
  margin: 0.76923rem;
}

.mt100 {
  margin-top: 0.76923rem;
}

.mr100 {
  margin-right: 0.76923rem;
}

.mb100 {
  margin-bottom: 0.76923rem;
}

.ml100 {
  margin-left: 0.76923rem;
}

.pad100, table tbody tr {
  padding: 0.76923rem;
}

.pt100 {
  padding-top: 0.76923rem;
}

.pr100 {
  padding-right: 0.76923rem;
}

.pb100 {
  padding-bottom: 0.76923rem;
}

.pl100 {
  padding-left: 0.76923rem;
}

.ptb100, .button-2 {
  padding-bottom: 0.76923rem;
  padding-top: 0.76923rem;
}

.plr100 {
  padding-left: 0.76923rem;
  padding-right: 0.76923rem;
}

.mtb100 {
  margin-bottom: 0.76923rem;
  margin-top: 0.76923rem;
}

.mlr100 {
  margin-left: 0.76923rem;
  margin-right: 0.76923rem;
}

.fxg100 {
  flex-grow: 1;
}

.fxsh100 {
  flex-shrink: 1;
}

.text200 {
  font-size: 1rem;
  line-height: 1.35rem;
  font-weight: 200;
}

.fntsz200, .button-1, .button-2 {
  font-size: 1rem;
}

.lh200 {
  line-height: 1.35rem;
}

.fw200 {
  font-weight: 200;
}

.margin200 {
  margin: 1rem;
}

.mt200 {
  margin-top: 1rem;
}

.mr200 {
  margin-right: 1rem;
}

.mb200 {
  margin-bottom: 1rem;
}

.ml200 {
  margin-left: 1rem;
}

.pad200 {
  padding: 1rem;
}

.pt200 {
  padding-top: 1rem;
}

.pr200 {
  padding-right: 1rem;
}

.pb200 {
  padding-bottom: 1rem;
}

.pl200 {
  padding-left: 1rem;
}

.ptb200, .button-1 {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.plr200 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.mtb200 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.mlr200 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.fxg200 {
  flex-grow: 2;
}

.fxsh200 {
  flex-shrink: 2;
}

.text300 {
  font-size: 1.3rem;
  line-height: 1.755rem;
  font-weight: 300;
}

.fntsz300, input {
  font-size: 1.3rem;
}

.lh300, table tbody tr {
  line-height: 1.755rem;
}

.fw300 {
  font-weight: 300;
}

.margin300 {
  margin: 1.3rem;
}

.mt300 {
  margin-top: 1.3rem;
}

.mr300 {
  margin-right: 1.3rem;
}

.mb300 {
  margin-bottom: 1.3rem;
}

.ml300 {
  margin-left: 1.3rem;
}

.pad300 {
  padding: 1.3rem;
}

.pt300 {
  padding-top: 1.3rem;
}

.pr300 {
  padding-right: 1.3rem;
}

.pb300 {
  padding-bottom: 1.3rem;
}

.pl300 {
  padding-left: 1.3rem;
}

.ptb300 {
  padding-bottom: 1.3rem;
  padding-top: 1.3rem;
}

.plr300, .button-2 {
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}

.mtb300 {
  margin-bottom: 1.3rem;
  margin-top: 1.3rem;
}

.mlr300 {
  margin-left: 1.3rem;
  margin-right: 1.3rem;
}

.fxg300 {
  flex-grow: 3;
}

.fxsh300 {
  flex-shrink: 3;
}

.text400 {
  font-size: 1.69rem;
  line-height: 2.2815rem;
  font-weight: 400;
}

.fntsz400 {
  font-size: 1.69rem;
}

.lh400 {
  line-height: 2.2815rem;
}

.fw400 {
  font-weight: 400;
}

.margin400 {
  margin: 1.69rem;
}

.mt400 {
  margin-top: 1.69rem;
}

.mr400 {
  margin-right: 1.69rem;
}

.mb400 {
  margin-bottom: 1.69rem;
}

.ml400 {
  margin-left: 1.69rem;
}

.pad400 {
  padding: 1.69rem;
}

.pt400 {
  padding-top: 1.69rem;
}

.pr400 {
  padding-right: 1.69rem;
}

.pb400 {
  padding-bottom: 1.69rem;
}

.pl400 {
  padding-left: 1.69rem;
}

.ptb400 {
  padding-bottom: 1.69rem;
  padding-top: 1.69rem;
}

.plr400, .button-1 {
  padding-left: 1.69rem;
  padding-right: 1.69rem;
}

.mtb400 {
  margin-bottom: 1.69rem;
  margin-top: 1.69rem;
}

.mlr400 {
  margin-left: 1.69rem;
  margin-right: 1.69rem;
}

.fxg400 {
  flex-grow: 4;
}

.fxsh400 {
  flex-shrink: 4;
}

.text500 {
  font-size: 2.197rem;
  line-height: 2.96595rem;
  font-weight: 500;
}

.fntsz500 {
  font-size: 2.197rem;
}

.lh500 {
  line-height: 2.96595rem;
}

.fw500 {
  font-weight: 500;
}

.margin500 {
  margin: 2.197rem;
}

.mt500 {
  margin-top: 2.197rem;
}

.mr500 {
  margin-right: 2.197rem;
}

.mb500 {
  margin-bottom: 2.197rem;
}

.ml500 {
  margin-left: 2.197rem;
}

.pad500 {
  padding: 2.197rem;
}

.pt500 {
  padding-top: 2.197rem;
}

.pr500 {
  padding-right: 2.197rem;
}

.pb500 {
  padding-bottom: 2.197rem;
}

.pl500 {
  padding-left: 2.197rem;
}

.ptb500 {
  padding-bottom: 2.197rem;
  padding-top: 2.197rem;
}

.plr500 {
  padding-left: 2.197rem;
  padding-right: 2.197rem;
}

.mtb500 {
  margin-bottom: 2.197rem;
  margin-top: 2.197rem;
}

.mlr500 {
  margin-left: 2.197rem;
  margin-right: 2.197rem;
}

.fxg500 {
  flex-grow: 5;
}

.fxsh500 {
  flex-shrink: 5;
}

.text600 {
  font-size: 2.8561rem;
  line-height: 3.85574rem;
  font-weight: 600;
}

.fntsz600 {
  font-size: 2.8561rem;
}

.lh600 {
  line-height: 3.85574rem;
}

.fw600 {
  font-weight: 600;
}

.margin600 {
  margin: 2.8561rem;
}

.mt600 {
  margin-top: 2.8561rem;
}

.mr600 {
  margin-right: 2.8561rem;
}

.mb600 {
  margin-bottom: 2.8561rem;
}

.ml600 {
  margin-left: 2.8561rem;
}

.pad600 {
  padding: 2.8561rem;
}

.pt600 {
  padding-top: 2.8561rem;
}

.pr600 {
  padding-right: 2.8561rem;
}

.pb600 {
  padding-bottom: 2.8561rem;
}

.pl600 {
  padding-left: 2.8561rem;
}

.ptb600 {
  padding-bottom: 2.8561rem;
  padding-top: 2.8561rem;
}

.plr600 {
  padding-left: 2.8561rem;
  padding-right: 2.8561rem;
}

.mtb600 {
  margin-bottom: 2.8561rem;
  margin-top: 2.8561rem;
}

.mlr600 {
  margin-left: 2.8561rem;
  margin-right: 2.8561rem;
}

.fxg600 {
  flex-grow: 6;
}

.fxsh600 {
  flex-shrink: 6;
}

.text700 {
  font-size: 3.71293rem;
  line-height: 5.01246rem;
  font-weight: 700;
}

.fntsz700 {
  font-size: 3.71293rem;
}

.lh700 {
  line-height: 5.01246rem;
}

.fw700 {
  font-weight: 700;
}

.margin700 {
  margin: 3.71293rem;
}

.mt700 {
  margin-top: 3.71293rem;
}

.mr700 {
  margin-right: 3.71293rem;
}

.mb700 {
  margin-bottom: 3.71293rem;
}

.ml700 {
  margin-left: 3.71293rem;
}

.pad700 {
  padding: 3.71293rem;
}

.pt700 {
  padding-top: 3.71293rem;
}

.pr700 {
  padding-right: 3.71293rem;
}

.pb700 {
  padding-bottom: 3.71293rem;
}

.pl700 {
  padding-left: 3.71293rem;
}

.ptb700 {
  padding-bottom: 3.71293rem;
  padding-top: 3.71293rem;
}

.plr700 {
  padding-left: 3.71293rem;
  padding-right: 3.71293rem;
}

.mtb700 {
  margin-bottom: 3.71293rem;
  margin-top: 3.71293rem;
}

.mlr700 {
  margin-left: 3.71293rem;
  margin-right: 3.71293rem;
}

.fxg700 {
  flex-grow: 7;
}

.fxsh700 {
  flex-shrink: 7;
}

.text800 {
  font-size: 4.82681rem;
  line-height: 6.51619rem;
  font-weight: 800;
}

.fntsz800 {
  font-size: 4.82681rem;
}

.lh800 {
  line-height: 6.51619rem;
}

.fw800 {
  font-weight: 800;
}

.margin800 {
  margin: 4.82681rem;
}

.mt800 {
  margin-top: 4.82681rem;
}

.mr800 {
  margin-right: 4.82681rem;
}

.mb800 {
  margin-bottom: 4.82681rem;
}

.ml800 {
  margin-left: 4.82681rem;
}

.pad800 {
  padding: 4.82681rem;
}

.pt800 {
  padding-top: 4.82681rem;
}

.pr800 {
  padding-right: 4.82681rem;
}

.pb800 {
  padding-bottom: 4.82681rem;
}

.pl800 {
  padding-left: 4.82681rem;
}

.ptb800 {
  padding-bottom: 4.82681rem;
  padding-top: 4.82681rem;
}

.plr800 {
  padding-left: 4.82681rem;
  padding-right: 4.82681rem;
}

.mtb800 {
  margin-bottom: 4.82681rem;
  margin-top: 4.82681rem;
}

.mlr800 {
  margin-left: 4.82681rem;
  margin-right: 4.82681rem;
}

.fxg800 {
  flex-grow: 8;
}

.fxsh800 {
  flex-shrink: 8;
}

.text900 {
  font-size: 6.27485rem;
  line-height: 8.47105rem;
  font-weight: 900;
}

.fntsz900 {
  font-size: 6.27485rem;
}

.lh900 {
  line-height: 8.47105rem;
}

.fw900 {
  font-weight: 900;
}

.margin900 {
  margin: 6.27485rem;
}

.mt900 {
  margin-top: 6.27485rem;
}

.mr900 {
  margin-right: 6.27485rem;
}

.mb900 {
  margin-bottom: 6.27485rem;
}

.ml900 {
  margin-left: 6.27485rem;
}

.pad900 {
  padding: 6.27485rem;
}

.pt900 {
  padding-top: 6.27485rem;
}

.pr900 {
  padding-right: 6.27485rem;
}

.pb900 {
  padding-bottom: 6.27485rem;
}

.pl900 {
  padding-left: 6.27485rem;
}

.ptb900 {
  padding-bottom: 6.27485rem;
  padding-top: 6.27485rem;
}

.plr900 {
  padding-left: 6.27485rem;
  padding-right: 6.27485rem;
}

.mtb900 {
  margin-bottom: 6.27485rem;
  margin-top: 6.27485rem;
}

.mlr900 {
  margin-left: 6.27485rem;
  margin-right: 6.27485rem;
}

.fxg900 {
  flex-grow: 9;
}

.fxsh900 {
  flex-shrink: 9;
}

.list > *:last-of-type {
  margin-bottom: 0;
}
.list > *:first-of-type {
  margin-top: 0;
}
.list > *:last-of-type {
  margin-right: 0;
}
.list > *:first-of-type {
  margin-left: 0;
}

.m0 {
  margin: 0;
}

.p0 {
  padding: 0;
}

.t-10 {
  top: 10%;
}

.r-10 {
  right: 10%;
}

.b-10 {
  bottom: 10%;
}

.l-10 {
  left: 10%;
}

.vht-100 {
  top: 10%;
}

.vwr-100 {
  right: 10%;
}

.vhb-100 {
  bottom: 10%;
}

.vwl-100 {
  left: 10%;
}

.w10 {
  width: 10%;
}

.h10 {
  height: 10%;
}

.vw10 {
  width: 10vw;
}

.vh10 {
  height: 10vh;
}

.bdrds1 {
  border-radius: 1px;
}

.pad1px {
  padding: 1px;
}

.pb1px {
  padding-bottom: 1px;
}

.pt1px {
  padding-top: 1px;
}

.pl1px {
  padding-left: 1px;
}

.pr1px {
  padding-right: 1px;
}

.m1px {
  margin: 1px;
}

.mb1px {
  margin-bottom: 1px;
}

.mt1px {
  margin-top: 1px;
}

.ml1px {
  margin-left: 1px;
}

.mr1px {
  margin-right: 1px;
}

.bxsh1 {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
}

.bxshHorz1 {
  box-shadow: 1px 0 1px rgba(0, 0, 0, 0.35);
}

.bxshVert1 {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
}

.maw100 {
  max-width: 10vw;
}

.miw100 {
  min-width: 10vw;
}

.mah100 {
  max-height: 10vh;
}

.mih100 {
  min-height: 10vh;
}

.bw100, input, table, table tbody tr {
  border-width: 1px;
}

.bbw100 {
  border-width: 0 0 1px 0;
}

.btw100 {
  border-width: 1px 0 0 0;
}

.brw100 {
  border-width: 0 1px 0 0;
}

.blw100 {
  border-width: 0 0 0 1px;
}

.t-20 {
  top: 20%;
}

.r-20 {
  right: 20%;
}

.b-20 {
  bottom: 20%;
}

.l-20 {
  left: 20%;
}

.vht-200 {
  top: 20%;
}

.vwr-200 {
  right: 20%;
}

.vhb-200 {
  bottom: 20%;
}

.vwl-200 {
  left: 20%;
}

.w20 {
  width: 20%;
}

.h20 {
  height: 20%;
}

.vw20 {
  width: 20vw;
}

.vh20 {
  height: 20vh;
}

.bdrds2 {
  border-radius: 2px;
}

.pad2px {
  padding: 2px;
}

.pb2px {
  padding-bottom: 2px;
}

.pt2px {
  padding-top: 2px;
}

.pl2px {
  padding-left: 2px;
}

.pr2px {
  padding-right: 2px;
}

.m2px {
  margin: 2px;
}

.mb2px {
  margin-bottom: 2px;
}

.mt2px {
  margin-top: 2px;
}

.ml2px {
  margin-left: 2px;
}

.mr2px {
  margin-right: 2px;
}

.bxsh2 {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
}

.bxshHorz2 {
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.35);
}

.bxshVert2 {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
}

.maw200 {
  max-width: 20vw;
}

.miw200 {
  min-width: 20vw;
}

.mah200 {
  max-height: 20vh;
}

.mih200 {
  min-height: 20vh;
}

.bw200 {
  border-width: 2px;
}

.bbw200 {
  border-width: 0 0 2px 0;
}

.btw200 {
  border-width: 2px 0 0 0;
}

.brw200 {
  border-width: 0 2px 0 0;
}

.blw200 {
  border-width: 0 0 0 2px;
}

.t-30 {
  top: 30%;
}

.r-30 {
  right: 30%;
}

.b-30 {
  bottom: 30%;
}

.l-30 {
  left: 30%;
}

.vht-300 {
  top: 30%;
}

.vwr-300 {
  right: 30%;
}

.vhb-300 {
  bottom: 30%;
}

.vwl-300 {
  left: 30%;
}

.w30 {
  width: 30%;
}

.h30 {
  height: 30%;
}

.vw30 {
  width: 30vw;
}

.vh30 {
  height: 30vh;
}

.bdrds3 {
  border-radius: 3px;
}

.pad3px {
  padding: 3px;
}

.pb3px {
  padding-bottom: 3px;
}

.pt3px {
  padding-top: 3px;
}

.pl3px {
  padding-left: 3px;
}

.pr3px {
  padding-right: 3px;
}

.m3px {
  margin: 3px;
}

.mb3px {
  margin-bottom: 3px;
}

.mt3px {
  margin-top: 3px;
}

.ml3px {
  margin-left: 3px;
}

.mr3px {
  margin-right: 3px;
}

.bxsh3 {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.35);
}

.bxshHorz3 {
  box-shadow: 3px 0 3px rgba(0, 0, 0, 0.35);
}

.bxshVert3 {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.35);
}

.maw300 {
  max-width: 30vw;
}

.miw300 {
  min-width: 30vw;
}

.mah300 {
  max-height: 30vh;
}

.mih300 {
  min-height: 30vh;
}

.bw300 {
  border-width: 3px;
}

.bbw300 {
  border-width: 0 0 3px 0;
}

.btw300 {
  border-width: 3px 0 0 0;
}

.brw300 {
  border-width: 0 3px 0 0;
}

.blw300 {
  border-width: 0 0 0 3px;
}

.t-40 {
  top: 40%;
}

.r-40 {
  right: 40%;
}

.b-40 {
  bottom: 40%;
}

.l-40 {
  left: 40%;
}

.vht-400 {
  top: 40%;
}

.vwr-400 {
  right: 40%;
}

.vhb-400 {
  bottom: 40%;
}

.vwl-400 {
  left: 40%;
}

.w40 {
  width: 40%;
}

.h40 {
  height: 40%;
}

.vw40 {
  width: 40vw;
}

.vh40 {
  height: 40vh;
}

.bdrds4, .button-1.full, .button-2.full, input {
  border-radius: 4px;
}

.pad4px {
  padding: 4px;
}

.pb4px {
  padding-bottom: 4px;
}

.pt4px {
  padding-top: 4px;
}

.pl4px {
  padding-left: 4px;
}

.pr4px {
  padding-right: 4px;
}

.m4px {
  margin: 4px;
}

.mb4px {
  margin-bottom: 4px;
}

.mt4px {
  margin-top: 4px;
}

.ml4px {
  margin-left: 4px;
}

.mr4px {
  margin-right: 4px;
}

.bxsh4 {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
}

.bxshHorz4 {
  box-shadow: 4px 0 4px rgba(0, 0, 0, 0.35);
}

.bxshVert4 {
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.35);
}

.maw400 {
  max-width: 40vw;
}

.miw400 {
  min-width: 40vw;
}

.mah400 {
  max-height: 40vh;
}

.mih400 {
  min-height: 40vh;
}

.bw400 {
  border-width: 4px;
}

.bbw400 {
  border-width: 0 0 4px 0;
}

.btw400 {
  border-width: 4px 0 0 0;
}

.brw400 {
  border-width: 0 4px 0 0;
}

.blw400 {
  border-width: 0 0 0 4px;
}

.t-50 {
  top: 50%;
}

.r-50 {
  right: 50%;
}

.b-50 {
  bottom: 50%;
}

.l-50 {
  left: 50%;
}

.vht-500 {
  top: 50%;
}

.vwr-500 {
  right: 50%;
}

.vhb-500 {
  bottom: 50%;
}

.vwl-500 {
  left: 50%;
}

.w50 {
  width: 50%;
}

.h50 {
  height: 50%;
}

.vw50 {
  width: 50vw;
}

.vh50 {
  height: 50vh;
}

.bdrds5 {
  border-radius: 5px;
}

.pad5px, input, table tbody tr td {
  padding: 5px;
}

.pb5px {
  padding-bottom: 5px;
}

.pt5px {
  padding-top: 5px;
}

.pl5px {
  padding-left: 5px;
}

.pr5px {
  padding-right: 5px;
}

.m5px {
  margin: 5px;
}

.mb5px {
  margin-bottom: 5px;
}

.mt5px {
  margin-top: 5px;
}

.ml5px {
  margin-left: 5px;
}

.mr5px {
  margin-right: 5px;
}

.bxsh5 {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.35);
}

.bxshHorz5 {
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.35);
}

.bxshVert5 {
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.35);
}

.maw500 {
  max-width: 50vw;
}

.miw500 {
  min-width: 50vw;
}

.mah500 {
  max-height: 50vh;
}

.mih500 {
  min-height: 50vh;
}

.bw500 {
  border-width: 5px;
}

.bbw500 {
  border-width: 0 0 5px 0;
}

.btw500 {
  border-width: 5px 0 0 0;
}

.brw500 {
  border-width: 0 5px 0 0;
}

.blw500 {
  border-width: 0 0 0 5px;
}

.t-60 {
  top: 60%;
}

.r-60 {
  right: 60%;
}

.b-60 {
  bottom: 60%;
}

.l-60 {
  left: 60%;
}

.vht-600 {
  top: 60%;
}

.vwr-600 {
  right: 60%;
}

.vhb-600 {
  bottom: 60%;
}

.vwl-600 {
  left: 60%;
}

.w60 {
  width: 60%;
}

.h60 {
  height: 60%;
}

.vw60 {
  width: 60vw;
}

.vh60 {
  height: 60vh;
}

.bdrds6 {
  border-radius: 6px;
}

.pad6px {
  padding: 6px;
}

.pb6px {
  padding-bottom: 6px;
}

.pt6px {
  padding-top: 6px;
}

.pl6px {
  padding-left: 6px;
}

.pr6px {
  padding-right: 6px;
}

.m6px {
  margin: 6px;
}

.mb6px {
  margin-bottom: 6px;
}

.mt6px {
  margin-top: 6px;
}

.ml6px {
  margin-left: 6px;
}

.mr6px {
  margin-right: 6px;
}

.bxsh6 {
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.35);
}

.bxshHorz6 {
  box-shadow: 6px 0 6px rgba(0, 0, 0, 0.35);
}

.bxshVert6 {
  box-shadow: 0 6px 7px rgba(0, 0, 0, 0.35);
}

.maw600 {
  max-width: 60vw;
}

.miw600 {
  min-width: 60vw;
}

.mah600 {
  max-height: 60vh;
}

.mih600 {
  min-height: 60vh;
}

.bw600 {
  border-width: 6px;
}

.bbw600 {
  border-width: 0 0 6px 0;
}

.btw600 {
  border-width: 6px 0 0 0;
}

.brw600 {
  border-width: 0 6px 0 0;
}

.blw600 {
  border-width: 0 0 0 6px;
}

.t-70 {
  top: 70%;
}

.r-70 {
  right: 70%;
}

.b-70 {
  bottom: 70%;
}

.l-70 {
  left: 70%;
}

.vht-700 {
  top: 70%;
}

.vwr-700 {
  right: 70%;
}

.vhb-700 {
  bottom: 70%;
}

.vwl-700 {
  left: 70%;
}

.w70 {
  width: 70%;
}

.h70 {
  height: 70%;
}

.vw70 {
  width: 70vw;
}

.vh70 {
  height: 70vh;
}

.bdrds7 {
  border-radius: 7px;
}

.pad7px {
  padding: 7px;
}

.pb7px {
  padding-bottom: 7px;
}

.pt7px {
  padding-top: 7px;
}

.pl7px {
  padding-left: 7px;
}

.pr7px {
  padding-right: 7px;
}

.m7px {
  margin: 7px;
}

.mb7px {
  margin-bottom: 7px;
}

.mt7px {
  margin-top: 7px;
}

.ml7px {
  margin-left: 7px;
}

.mr7px {
  margin-right: 7px;
}

.bxsh7 {
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.35);
}

.bxshHorz7 {
  box-shadow: 7px 0 7px rgba(0, 0, 0, 0.35);
}

.bxshVert7 {
  box-shadow: 0 7px 8px rgba(0, 0, 0, 0.35);
}

.maw700 {
  max-width: 70vw;
}

.miw700 {
  min-width: 70vw;
}

.mah700 {
  max-height: 70vh;
}

.mih700 {
  min-height: 70vh;
}

.bw700 {
  border-width: 7px;
}

.bbw700 {
  border-width: 0 0 7px 0;
}

.btw700 {
  border-width: 7px 0 0 0;
}

.brw700 {
  border-width: 0 7px 0 0;
}

.blw700 {
  border-width: 0 0 0 7px;
}

.t-80 {
  top: 80%;
}

.r-80 {
  right: 80%;
}

.b-80 {
  bottom: 80%;
}

.l-80 {
  left: 80%;
}

.vht-800 {
  top: 80%;
}

.vwr-800 {
  right: 80%;
}

.vhb-800 {
  bottom: 80%;
}

.vwl-800 {
  left: 80%;
}

.w80 {
  width: 80%;
}

.h80 {
  height: 80%;
}

.vw80 {
  width: 80vw;
}

.vh80 {
  height: 80vh;
}

.bdrds8 {
  border-radius: 8px;
}

.pad8px {
  padding: 8px;
}

.pb8px {
  padding-bottom: 8px;
}

.pt8px {
  padding-top: 8px;
}

.pl8px {
  padding-left: 8px;
}

.pr8px {
  padding-right: 8px;
}

.m8px {
  margin: 8px;
}

.mb8px {
  margin-bottom: 8px;
}

.mt8px {
  margin-top: 8px;
}

.ml8px {
  margin-left: 8px;
}

.mr8px {
  margin-right: 8px;
}

.bxsh8 {
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.35);
}

.bxshHorz8 {
  box-shadow: 8px 0 8px rgba(0, 0, 0, 0.35);
}

.bxshVert8 {
  box-shadow: 0 8px 9px rgba(0, 0, 0, 0.35);
}

.maw800 {
  max-width: 80vw;
}

.miw800 {
  min-width: 80vw;
}

.mah800 {
  max-height: 80vh;
}

.mih800 {
  min-height: 80vh;
}

.bw800 {
  border-width: 8px;
}

.bbw800 {
  border-width: 0 0 8px 0;
}

.btw800 {
  border-width: 8px 0 0 0;
}

.brw800 {
  border-width: 0 8px 0 0;
}

.blw800 {
  border-width: 0 0 0 8px;
}

.t-90 {
  top: 90%;
}

.r-90 {
  right: 90%;
}

.b-90 {
  bottom: 90%;
}

.l-90 {
  left: 90%;
}

.vht-900 {
  top: 90%;
}

.vwr-900 {
  right: 90%;
}

.vhb-900 {
  bottom: 90%;
}

.vwl-900 {
  left: 90%;
}

.w90 {
  width: 90%;
}

.h90 {
  height: 90%;
}

.vw90 {
  width: 90vw;
}

.vh90 {
  height: 90vh;
}

.bdrds9 {
  border-radius: 9px;
}

.pad9px {
  padding: 9px;
}

.pb9px {
  padding-bottom: 9px;
}

.pt9px {
  padding-top: 9px;
}

.pl9px {
  padding-left: 9px;
}

.pr9px {
  padding-right: 9px;
}

.m9px {
  margin: 9px;
}

.mb9px {
  margin-bottom: 9px;
}

.mt9px {
  margin-top: 9px;
}

.ml9px {
  margin-left: 9px;
}

.mr9px {
  margin-right: 9px;
}

.bxsh9 {
  box-shadow: 9px 9px 9px rgba(0, 0, 0, 0.35);
}

.bxshHorz9 {
  box-shadow: 9px 0 9px rgba(0, 0, 0, 0.35);
}

.bxshVert9 {
  box-shadow: 0 9px 10px rgba(0, 0, 0, 0.35);
}

.maw900 {
  max-width: 90vw;
}

.miw900 {
  min-width: 90vw;
}

.mah900 {
  max-height: 90vh;
}

.mih900 {
  min-height: 90vh;
}

.bw900 {
  border-width: 9px;
}

.bbw900 {
  border-width: 0 0 9px 0;
}

.btw900 {
  border-width: 9px 0 0 0;
}

.brw900 {
  border-width: 0 9px 0 0;
}

.blw900 {
  border-width: 0 0 0 9px;
}

.t-100 {
  top: 100%;
}

.r-100 {
  right: 100%;
}

.b-100 {
  bottom: 100%;
}

.l-100 {
  left: 100%;
}

.vht-1000 {
  top: 100%;
}

.vwr-1000 {
  right: 100%;
}

.vhb-1000 {
  bottom: 100%;
}

.vwl-1000 {
  left: 100%;
}

.w100, .button-1.full, .button-2.full, input.full, table.full {
  width: 100%;
}

.h100 {
  height: 100%;
}

.vw100 {
  width: 100vw;
}

.vh100 {
  height: 100vh;
}

.bdrds10 {
  border-radius: 10px;
}

.pad10px {
  padding: 10px;
}

.pb10px {
  padding-bottom: 10px;
}

.pt10px {
  padding-top: 10px;
}

.pl10px {
  padding-left: 10px;
}

.pr10px {
  padding-right: 10px;
}

.m10px {
  margin: 10px;
}

.mb10px {
  margin-bottom: 10px;
}

.mt10px {
  margin-top: 10px;
}

.ml10px {
  margin-left: 10px;
}

.mr10px {
  margin-right: 10px;
}

.bxsh10 {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.35);
}

.bxshHorz10 {
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.35);
}

.bxshVert10 {
  box-shadow: 0 10px 11px rgba(0, 0, 0, 0.35);
}

.maw1000 {
  max-width: 100vw;
}

.miw1000 {
  min-width: 100vw;
}

.mah1000 {
  max-height: 100vh;
}

.mih1000 {
  min-height: 100vh;
}

.bw1000 {
  border-width: 10px;
}

.bbw1000 {
  border-width: 0 0 10px 0;
}

.btw1000 {
  border-width: 10px 0 0 0;
}

.brw1000 {
  border-width: 0 10px 0 0;
}

.blw1000 {
  border-width: 0 0 0 10px;
}

.bgc-ltGrey {
  background-color: #d8d8d8;
}

.bdc-ltGrey {
  border-color: #d8d8d8;
}

.color-ltGrey {
  color: #d8d8d8;
}

.bgc-primary {
  background-color: #387ef5;
}

.bdc-primary {
  border-color: #387ef5;
}

.color-primary {
  color: #387ef5;
}

.bgc-blue600, .button-1::before {
  background-color: #091b39;
}

.bdc-blue600 {
  border-color: #091b39;
}

.color-blue600 {
  color: #091b39;
}

.bgc-blue400 {
  background-color: #09379e;
}

.bdc-blue400 {
  border-color: #09379e;
}

.color-blue400 {
  color: #09379e;
}

.bgc-blue300 {
  background-color: #1850d7;
}

.bdc-blue300 {
  border-color: #1850d7;
}

.color-blue300 {
  color: #1850d7;
}

.bgc-blue100 {
  background-color: #90adf3;
}

.bdc-blue100 {
  border-color: #90adf3;
}

.color-blue100 {
  color: #90adf3;
}

.bgc-blue000 {
  background-color: #dae5ff;
}

.bdc-blue000 {
  border-color: #dae5ff;
}

.color-blue000 {
  color: #dae5ff;
}

.bgc-red800 {
  background-color: #4e1615;
}

.bdc-red800 {
  border-color: #4e1615;
}

.color-red800 {
  color: #4e1615;
}

.bgc-red400 {
  background-color: #ca3a35;
}

.bdc-red400 {
  border-color: #ca3a35;
}

.color-red400 {
  color: #ca3a35;
}

.bgc-red100 {
  background-color: #ffdfde;
}

.bdc-red100 {
  border-color: #ffdfde;
}

.color-red100 {
  color: #ffdfde;
}

.bgc-green400 {
  background-color: #1ad41a;
}

.bdc-green400 {
  border-color: #1ad41a;
}

.color-green400 {
  color: #1ad41a;
}

.bgc-grey500 {
  background-color: #3f3b3b;
}

.bdc-grey500 {
  border-color: #3f3b3b;
}

.color-grey500 {
  color: #3f3b3b;
}

.bgc-grey400 {
  background-color: #7e7e7e;
}

.bdc-grey400 {
  border-color: #7e7e7e;
}

.color-grey400 {
  color: #7e7e7e;
}

.bgc-grey300 {
  background-color: #d1d1d1;
}

.bdc-grey300, input, table, table tbody tr {
  border-color: #d1d1d1;
}

.color-grey300 {
  color: #d1d1d1;
}

.bgc-grey200, table tbody tr:nth-child(2n-1) {
  background-color: #e0e0e0;
}

.bdc-grey200 {
  border-color: #e0e0e0;
}

.color-grey200 {
  color: #e0e0e0;
}

.bgc-white {
  background-color: white;
}

.bdc-white {
  border-color: white;
}

.color-white {
  color: white;
}

.bgc-black {
  background-color: #1b1b1b;
}

.bdc-black {
  border-color: #1b1b1b;
}

.color-black {
  color: #1b1b1b;
}

@media screen and (max-width: 480px) {
  .col-sm-1 {
    width: calc((100%/ 10) * 1);
  }

  .col-sm-push-1 {
    left: calc((100%/ 10) * 1);
  }

  .col-sm-pull-1 {
    right: calc((100%/ 10) * 1);
  }
}
@media screen and (max-width: 480px) {
  .col-sm-2 {
    width: calc((100%/ 10) * 2);
  }

  .col-sm-push-2 {
    left: calc((100%/ 10) * 2);
  }

  .col-sm-pull-2 {
    right: calc((100%/ 10) * 2);
  }
}
@media screen and (max-width: 480px) {
  .col-sm-3 {
    width: calc((100%/ 10) * 3);
  }

  .col-sm-push-3 {
    left: calc((100%/ 10) * 3);
  }

  .col-sm-pull-3 {
    right: calc((100%/ 10) * 3);
  }
}
@media screen and (max-width: 480px) {
  .col-sm-4 {
    width: calc((100%/ 10) * 4);
  }

  .col-sm-push-4 {
    left: calc((100%/ 10) * 4);
  }

  .col-sm-pull-4 {
    right: calc((100%/ 10) * 4);
  }
}
@media screen and (max-width: 480px) {
  .col-sm-5 {
    width: calc((100%/ 10) * 5);
  }

  .col-sm-push-5 {
    left: calc((100%/ 10) * 5);
  }

  .col-sm-pull-5 {
    right: calc((100%/ 10) * 5);
  }
}
@media screen and (max-width: 480px) {
  .col-sm-6 {
    width: calc((100%/ 10) * 6);
  }

  .col-sm-push-6 {
    left: calc((100%/ 10) * 6);
  }

  .col-sm-pull-6 {
    right: calc((100%/ 10) * 6);
  }
}
@media screen and (max-width: 480px) {
  .col-sm-7 {
    width: calc((100%/ 10) * 7);
  }

  .col-sm-push-7 {
    left: calc((100%/ 10) * 7);
  }

  .col-sm-pull-7 {
    right: calc((100%/ 10) * 7);
  }
}
@media screen and (max-width: 480px) {
  .col-sm-8 {
    width: calc((100%/ 10) * 8);
  }

  .col-sm-push-8 {
    left: calc((100%/ 10) * 8);
  }

  .col-sm-pull-8 {
    right: calc((100%/ 10) * 8);
  }
}
@media screen and (max-width: 480px) {
  .col-sm-9 {
    width: calc((100%/ 10) * 9);
  }

  .col-sm-push-9 {
    left: calc((100%/ 10) * 9);
  }

  .col-sm-pull-9 {
    right: calc((100%/ 10) * 9);
  }
}
@media screen and (max-width: 480px) {
  .col-sm-10 {
    width: calc((100%/ 10) * 10);
  }

  .col-sm-push-10 {
    left: calc((100%/ 10) * 10);
  }

  .col-sm-pull-10 {
    right: calc((100%/ 10) * 10);
  }
}
.col-md-1 {
  width: calc((100%/ 14) * 1);
}

.col-md-push-1 {
  left: calc((100%/ 14) * 1);
}

.col-md-pull-1 {
  right: calc((100%/ 14) * 1);
}

.col-md-2 {
  width: calc((100%/ 14) * 2);
}

.col-md-push-2 {
  left: calc((100%/ 14) * 2);
}

.col-md-pull-2 {
  right: calc((100%/ 14) * 2);
}

.col-md-3 {
  width: calc((100%/ 14) * 3);
}

.col-md-push-3 {
  left: calc((100%/ 14) * 3);
}

.col-md-pull-3 {
  right: calc((100%/ 14) * 3);
}

.col-md-4 {
  width: calc((100%/ 14) * 4);
}

.col-md-push-4 {
  left: calc((100%/ 14) * 4);
}

.col-md-pull-4 {
  right: calc((100%/ 14) * 4);
}

.col-md-5 {
  width: calc((100%/ 14) * 5);
}

.col-md-push-5 {
  left: calc((100%/ 14) * 5);
}

.col-md-pull-5 {
  right: calc((100%/ 14) * 5);
}

.col-md-6 {
  width: calc((100%/ 14) * 6);
}

.col-md-push-6 {
  left: calc((100%/ 14) * 6);
}

.col-md-pull-6 {
  right: calc((100%/ 14) * 6);
}

.col-md-7 {
  width: calc((100%/ 14) * 7);
}

.col-md-push-7 {
  left: calc((100%/ 14) * 7);
}

.col-md-pull-7 {
  right: calc((100%/ 14) * 7);
}

.col-md-8 {
  width: calc((100%/ 14) * 8);
}

.col-md-push-8 {
  left: calc((100%/ 14) * 8);
}

.col-md-pull-8 {
  right: calc((100%/ 14) * 8);
}

.col-md-9 {
  width: calc((100%/ 14) * 9);
}

.col-md-push-9 {
  left: calc((100%/ 14) * 9);
}

.col-md-pull-9 {
  right: calc((100%/ 14) * 9);
}

.col-md-10 {
  width: calc((100%/ 14) * 10);
}

.col-md-push-10 {
  left: calc((100%/ 14) * 10);
}

.col-md-pull-10 {
  right: calc((100%/ 14) * 10);
}

.col-md-11 {
  width: calc((100%/ 14) * 11);
}

.col-md-push-11 {
  left: calc((100%/ 14) * 11);
}

.col-md-pull-11 {
  right: calc((100%/ 14) * 11);
}

.col-md-12 {
  width: calc((100%/ 14) * 12);
}

.col-md-push-12 {
  left: calc((100%/ 14) * 12);
}

.col-md-pull-12 {
  right: calc((100%/ 14) * 12);
}

.col-md-13 {
  width: calc((100%/ 14) * 13);
}

.col-md-push-13 {
  left: calc((100%/ 14) * 13);
}

.col-md-pull-13 {
  right: calc((100%/ 14) * 13);
}

.col-md-14 {
  width: calc((100%/ 14) * 14);
}

.col-md-push-14 {
  left: calc((100%/ 14) * 14);
}

.col-md-pull-14 {
  right: calc((100%/ 14) * 14);
}

@media screen and (min-width: 1400px) {
  .col-lg-1 {
    width: calc((100%/ 12) * 1);
  }

  .col-lg-push-1 {
    left: calc((100%/ 12) * 1);
  }

  .col-lg-pull-1 {
    right: calc((100%/ 12) * 1);
  }
}
@media screen and (min-width: 1400px) {
  .col-lg-2 {
    width: calc((100%/ 12) * 2);
  }

  .col-lg-push-2 {
    left: calc((100%/ 12) * 2);
  }

  .col-lg-pull-2 {
    right: calc((100%/ 12) * 2);
  }
}
@media screen and (min-width: 1400px) {
  .col-lg-3 {
    width: calc((100%/ 12) * 3);
  }

  .col-lg-push-3 {
    left: calc((100%/ 12) * 3);
  }

  .col-lg-pull-3 {
    right: calc((100%/ 12) * 3);
  }
}
@media screen and (min-width: 1400px) {
  .col-lg-4 {
    width: calc((100%/ 12) * 4);
  }

  .col-lg-push-4 {
    left: calc((100%/ 12) * 4);
  }

  .col-lg-pull-4 {
    right: calc((100%/ 12) * 4);
  }
}
@media screen and (min-width: 1400px) {
  .col-lg-5 {
    width: calc((100%/ 12) * 5);
  }

  .col-lg-push-5 {
    left: calc((100%/ 12) * 5);
  }

  .col-lg-pull-5 {
    right: calc((100%/ 12) * 5);
  }
}
@media screen and (min-width: 1400px) {
  .col-lg-6 {
    width: calc((100%/ 12) * 6);
  }

  .col-lg-push-6 {
    left: calc((100%/ 12) * 6);
  }

  .col-lg-pull-6 {
    right: calc((100%/ 12) * 6);
  }
}
@media screen and (min-width: 1400px) {
  .col-lg-7 {
    width: calc((100%/ 12) * 7);
  }

  .col-lg-push-7 {
    left: calc((100%/ 12) * 7);
  }

  .col-lg-pull-7 {
    right: calc((100%/ 12) * 7);
  }
}
@media screen and (min-width: 1400px) {
  .col-lg-8 {
    width: calc((100%/ 12) * 8);
  }

  .col-lg-push-8 {
    left: calc((100%/ 12) * 8);
  }

  .col-lg-pull-8 {
    right: calc((100%/ 12) * 8);
  }
}
@media screen and (min-width: 1400px) {
  .col-lg-9 {
    width: calc((100%/ 12) * 9);
  }

  .col-lg-push-9 {
    left: calc((100%/ 12) * 9);
  }

  .col-lg-pull-9 {
    right: calc((100%/ 12) * 9);
  }
}
@media screen and (min-width: 1400px) {
  .col-lg-10 {
    width: calc((100%/ 12) * 10);
  }

  .col-lg-push-10 {
    left: calc((100%/ 12) * 10);
  }

  .col-lg-pull-10 {
    right: calc((100%/ 12) * 10);
  }
}
@media screen and (min-width: 1400px) {
  .col-lg-11 {
    width: calc((100%/ 12) * 11);
  }

  .col-lg-push-11 {
    left: calc((100%/ 12) * 11);
  }

  .col-lg-pull-11 {
    right: calc((100%/ 12) * 11);
  }
}
@media screen and (min-width: 1400px) {
  .col-lg-12 {
    width: calc((100%/ 12) * 12);
  }

  .col-lg-push-12 {
    left: calc((100%/ 12) * 12);
  }

  .col-lg-pull-12 {
    right: calc((100%/ 12) * 12);
  }
}
.bdtrrs {
  border-top-right-radius: 3px;
}

.bdtlrs {
  border-top-left-radius: 3px;
}

.bdbrrs {
  border-bottom-right-radius: 3px;
}

.bdblrs {
  border-bottom-left-radius: 3px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scaleOut {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
.transition {
  transition: color 0.25s ease-in-out;
}

.button-1 {
  background: #09379E;
  color: #ffffff;
  border: #1850D7;
  z-index: 1;
}
.button-1::before {
  opacity: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.button-1.animation:hover::before {
  animation: scaleY 0.25s ease-in-out 0s none;
  opacity: 1;
}

.button-2 {
  background: #ffffff;
  color: #7E7E7E;
  border: #3F3B3B 1px solid;
  z-index: 1;
}
.button-2.animation {
  animation: scaleY 0.25s ease-in-out 0s none;
}

.border-none {
  border-style: none;
}

.border-dotted {
  border-style: dotted;
}

.border-dashed {
  border-style: dashed;
}

.border-solid, table, table tbody tr {
  border-style: solid;
}

.border-double {
  border-style: double;
}

.border-groove {
  border-style: groove;
}

.border-ridge {
  border-style: ridge;
}

.border-inset {
  border-style: inset;
}

.border-outset {
  border-style: outset;
}

.border-initial {
  border-style: initial;
}

.border-inherit {
  border-style: inherit;
}

.posa, .button-1::before {
  position: absolute;
}

.posr, .button-1, .button-2 {
  position: relative;
}

.posf {
  position: fixed;
}

.ta {
  text-align: left;
}

.ba {
  bottom: auto;
}

.la {
  left: auto;
}

.ra {
  right: auto;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.fwn {
  font-weight: normal;
}

.cl, .clearfix::after {
  clear: both;
}

.cll {
  clear: left;
}

.clr {
  clear: right;
}

.db, input.full, .clearfix::after {
  display: block;
}

.dib {
  display: inline-block;
}

.df {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.dn {
  display: none;
}

.dnI {
  display: none !important;
}

.dli {
  display: list-item;
}

.dt {
  display: table;
}

.vh {
  visibility: hidden;
}

.vv {
  visibility: visible;
}

.ovh, .button-1, .button-2 {
  overflow: hidden;
}

.ovv {
  overflow: visible;
}

.ovs {
  overflow-style: scrollbar;
}

.ovxh {
  overflow-x: hidden;
}

.ovxa {
  overflow-x: auto;
}

.ovxs {
  overflow-x: scroll;
}

.ovyh {
  overflow-y: hidden;
}

.ovya {
  overflow-y: auto;
}

.ovys {
  overflow-y: scroll;
}

.bxszbb {
  box-sizing: border-box;
}

.fsi {
  font-style: italic;
}

.fso {
  font-style: oblique;
}

.vat {
  vertical-align: top;
}

.vasup {
  vertical-align: super;
}

.vasub {
  vertical-align: sub;
}

.vam {
  vertical-align: middle;
}

.vabl {
  vertical-align: baseline;
}

.vab {
  vertical-align: bottom;
}

.tac {
  text-align: center;
}

.tal {
  text-align-last: auto;
}

.tar {
  text-align: right;
}

.taj {
  text-align: justify;
}

.talr {
  text-align-last: right;
}

.talc {
  text-align-last: center;
}

.tall {
  text-align-last: left;
}

.tdn, .button-1, .button-2 {
  text-decoration: none;
}

.ttu {
  text-transform: uppercase;
}

.ttc {
  text-transform: capitalize;
}

.ttl {
  text-transform: lowercase;
}

.twno {
  text-wrap: none;
}

.twn {
  text-wrap: normal;
}

.whsn {
  white-space: normal;
}

.whsp {
  white-space: pre;
}

.whsc {
  white-space: collapse;
}

.woba {
  word-break: break-all;
}

.wobn {
  word-break: normal;
}

.wobk {
  word-break: keep-all;
}

.wobka {
  word-break: keep-all;
}

.wown {
  word-wrap: none;
}

.wowu {
  word-wrap: unrestricted;
}

.wows {
  word-wrap: suppress;
}

.wowb {
  word-wrap: break-word;
}

.bgn {
  background: none;
}

.bgin {
  background-image: none;
}

.bgt {
  background-color: transparent;
}

.bgrn {
  background-repeat: no-repeat;
}

.bgrx {
  background-repeat: repeat-x;
}

.bgry {
  background-repeat: repeat-y;
}

.bgsza {
  background-size: auto;
}

.bgszcv {
  background-size: cover;
}

.bgszct {
  background-size: contain;
}

.oln {
  outline: none;
}

.olwtn {
  outline-width: thin;
}

.olwtc {
  outline-width: thick;
}

.olsn {
  outline-style: none;
}

.olsdt {
  outline-style: dotted;
}

.olsds {
  outline-style: dashed;
}

.olsdb {
  outline-style: double;
}

.olsg {
  outline-style: groove;
}

.olsr {
  outline-style: ridge;
}

.olsi {
  outline-style: inset;
}

.olci {
  outline-color: invert;
}

.tbla {
  table-layout: auto;
}

.tblf {
  table-layout: fixed;
}

.cpst {
  caption-side: top;
}

.cpsb {
  caption-side: bottom;
}

.ecs {
  empty-cells: show;
}

.ech {
  empty-cells: hide;
}

.bdn {
  border: none;
}

.bdtn {
  border-top: none;
}

.bdrn {
  border-right: none;
}

.bdbn {
  border-bottom: none;
}

.bdln {
  border-width: 1px;
}

.bdin {
  border-image: none;
}

.lsn {
  letter-spacing: normal;
}

.lstd {
  list-style-type: disc;
}

.lstc {
  list-style-type: circle;
}

.lsts {
  list-style-type: square;
}

.lstdc {
  list-style-type: decimal;
}

.lstlr {
  list-style-type: lower-roman;
}

.lstur {
  list-style-type: upper-roman;
}

.lstin {
  list-style-image: none;
}

.pgbba {
  page-break-before: auto;
}

.pgbbal {
  page-break-before: always;
}

.pgbbl {
  page-break-before: left;
}

.pgbbr {
  page-break-before: right;
}

.pgbia {
  page-break-inside: auto;
}

.pgbiav {
  page-break-inside: avoid;
}

.pgbaau {
  page-break-after: auto;
}

.pgbaal {
  page-break-after: always;
}

.pgbal {
  page-break-after: left;
}

.pgbar {
  page-break-after: right;
}

.asa {
  align-self: auto;
}

.asb {
  align-self: baseline;
}

.asc {
  align-self: center;
}

.asfe {
  align-self: flex-end;
}

.asfs {
  align-self: flex-start;
}

.ass {
  align-self: stretch;
}

.bfvv {
  backface-visibility: visible;
}

.bfvh {
  backface-visibility: hidden;
}

.fxdc {
  flex-direction: column;
}

.fxdcr {
  flex-direction: column-reverse;
}

.fxdr {
  flex-direction: row;
}

.fxwn {
  flex-wrap: nowrap;
}

.fxww {
  flex-wrap: wrap;
}

.fxwrr {
  flex-wrap: wrap-reverse;
}

.jcc {
  justify-content: center;
}

.jcfe {
  justify-content: flex-end;
}

.jcfs {
  justify-content: flex-start;
}

.jcsa {
  justify-content: space-around;
}

.jcsb {
  justify-content: space-between;
}

.tovc {
  text-overflow: clip;
}

.cursorA {
  cursor: auto;
}

.cursorD {
  cursor: default;
}

.cursorH {
  cursor: help;
}

.cursorP, .button-1, .button-2 {
  cursor: pointer;
}

.cursorT {
  cursor: text;
}

.bgrAll {
  background-repeat: all;
}

.before, .button-1::before {
  content: '';
  display: block;
}

.after, .clearfix::after {
  content: '';
  display: block;
}

.trans, .button-1::before {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.transX {
  transform: translateX(-50%);
  left: 50%;
}

.transY {
  transform: translateY(-50%);
  top: 50%;
}

.bdrds50 {
  border-radius: 50%;
}

.bdtrrs50 {
  border-top-left-radius: 50%;
}

.bdtlrs50 {
  border-top-right-radius: 50%;
}

.bdblrs50 {
  border-bottom-left-radius: 50%;
}

.bdbrrs50 {
  border-bottom-right-radius: 50%;
}

.fullWidth {
  width: 100%;
}

.fullHeight {
  height: 100%;
}
