<ion-row>
  <ion-col col-12 col-md-8 offset-md-2>
    <button col-3 ion-button block type="button" (click)="addDrill()">
      <p>Add Drill</p>&nbsp;&nbsp;
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col col-12 col-md-8 offset-md-2>
    <ion-list
        show-delete="shouldShowDelete"
        show-reorder="shouldShowReorder">
        <ion-item
            *ngFor="let drill of drills | async"
            class="item-thumbnail-right">
            <p class="list_label">{{drill.title}}</p>
            <ion-icon
                class="delete_icon"
                name="trash"
                color="danger"
                (click)="removeDrill(drill.$key)">
            </ion-icon>
            <ion-icon
                class="edit_icon"
                name="create"
                color="primary"
                (click)="updateDrill(drill.$key)">
            </ion-icon>
        </ion-item>
    </ion-list>
  </ion-col>
</ion-row>